/* ==================================================
	Page
================================================== */

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 980px;
}

div.centerd {
	margin: 0 auto;
	padding-top: 25px;
	width: 400px;
}

/* ============================== */

pre {
	padding: 5px;
	text-align: left;
	font-size: 0.6em;
	line-height: 1.4em;
}